<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroxin.system.mapper.internship.InternshipStudentMapper">
    
    <resultMap type="InternshipStudent" id="InternshipStudentResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="major"    column="major"    />
        <result property="collegeId"    column="college_id"    />
        <result property="tel"    column="tel"    />
    </resultMap>

    <sql id="selectInternshipStudentVo">
        select id, code, name, sex, birthday, major, college_id, tel from internship_student
    </sql>

    <select id="selectInternshipStudentList" parameterType="InternshipStudent" resultMap="InternshipStudentResult">
        <include refid="selectInternshipStudentVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="major != null "> and major = #{major}</if>
            <if test="collegeId != null "> and college_id = #{collegeId}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
        </where>
    </select>
    
    <select id="selectInternshipStudentById" parameterType="Long" resultMap="InternshipStudentResult">
        <include refid="selectInternshipStudentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInternshipStudent" parameterType="InternshipStudent">
        insert into internship_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="major != null">major,</if>
            <if test="collegeId != null">college_id,</if>
            <if test="tel != null">tel,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="major != null">#{major},</if>
            <if test="collegeId != null">#{collegeId},</if>
            <if test="tel != null">#{tel},</if>
         </trim>
    </insert>

    <update id="updateInternshipStudent" parameterType="InternshipStudent">
        update internship_student
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="major != null">major = #{major},</if>
            <if test="collegeId != null">college_id = #{collegeId},</if>
            <if test="tel != null">tel = #{tel},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInternshipStudentById" parameterType="Long">
        delete from internship_student where id = #{id}
    </delete>

    <delete id="deleteInternshipStudentByIds" parameterType="String">
        delete from internship_student where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>