<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroxin.internship.mapper.InternshipDailyLogMapper">

    <resultMap type="InternshipDailyLog" id="InternshipDailyLogResult">
        <result property="id" column="id"/>
        <result property="student" column="student"/>
        <result property="company" column="company"/>
        <result property="dailyLog" column="daily_log"/>
        <result property="createDate" column="create_date"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectInternshipDailyLogVo">
        select id, student, company, daily_log, create_date, remark
        from internship_daily_log
    </sql>

    <select id="selectInternshipDailyLogList" parameterType="InternshipDailyLog" resultMap="InternshipDailyLogResult">
        <include refid="selectInternshipDailyLogVo"/>
        <where>
            <if test="student != null  and student != ''">and student = #{student}</if>
            <if test="company != null  and company != ''">and company = #{company}</if>
            <if test="dailyLog != null  and dailyLog != ''">and daily_log = #{dailyLog}</if>
            <if test="createDate != null ">and create_date = #{createDate}</if>
        </where>
    </select>

    <select id="selectInternshipDailyLogById" parameterType="Long" resultMap="InternshipDailyLogResult">
        <include refid="selectInternshipDailyLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertInternshipDailyLog" parameterType="InternshipDailyLog" useGeneratedKeys="true" keyProperty="id">
        insert into internship_daily_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="student != null">student,</if>
            <if test="company != null">company,</if>
            <if test="dailyLog != null">daily_log,</if>
            <if test="createDate != null">create_date,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="student != null">#{student},</if>
            <if test="company != null">#{company},</if>
            <if test="dailyLog != null">#{dailyLog},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateInternshipDailyLog" parameterType="InternshipDailyLog">
        update internship_daily_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="student != null">student = #{student},</if>
            <if test="company != null">company = #{company},</if>
            <if test="dailyLog != null">daily_log = #{dailyLog},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInternshipDailyLogById" parameterType="Long">
        delete
        from internship_daily_log
        where id = #{id}
    </delete>

    <delete id="deleteInternshipDailyLogByIds" parameterType="String">
        delete from internship_daily_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>