<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroxin.internship.mapper.InternshipApplyMapper">

    <resultMap type="InternshipApply" id="InternshipApplyResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="major"    column="major"    />
        <result property="applyDate"    column="apply_date"    />
        <result property="reason"    column="reason"    />
        <result property="company"    column="company"    />
        <result property="post"    column="post"    />
        <result property="teacherMemo"    column="teacher_memo"    />
        <result property="headMemo"    column="head_memo"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectInternshipApplyVo">
        select id, name, code, major, apply_date, reason, company, post, teacher_memo, head_memo, status from internship_apply
    </sql>

    <select id="selectInternshipApplyList" parameterType="InternshipApply" resultMap="InternshipApplyResult">
        <include refid="selectInternshipApplyVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="applyDate != null "> and apply_date = #{applyDate}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="post != null  and post != ''"> and post = #{post}</if>
            <if test="teacherMemo != null  and teacherMemo != ''"> and teacher_memo = #{teacherMemo}</if>
            <if test="headMemo != null  and headMemo != ''"> and head_memo = #{headMemo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectInternshipApplyById" parameterType="Long" resultMap="InternshipApplyResult">
        <include refid="selectInternshipApplyVo"/>
        where id = #{id}
    </select>

    <insert id="insertInternshipApply" parameterType="InternshipApply" useGeneratedKeys="true" keyProperty="id">
        insert into internship_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="major != null">major,</if>
            <if test="applyDate != null">apply_date,</if>
            <if test="reason != null">reason,</if>
            <if test="company != null">company,</if>
            <if test="post != null">post,</if>
            <if test="teacherMemo != null">teacher_memo,</if>
            <if test="headMemo != null">head_memo,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="major != null">#{major},</if>
            <if test="applyDate != null">#{applyDate},</if>
            <if test="reason != null">#{reason},</if>
            <if test="company != null">#{company},</if>
            <if test="post != null">#{post},</if>
            <if test="teacherMemo != null">#{teacherMemo},</if>
            <if test="headMemo != null">#{headMemo},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateInternshipApply" parameterType="InternshipApply">
        update internship_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="major != null">major = #{major},</if>
            <if test="applyDate != null">apply_date = #{applyDate},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="company != null">company = #{company},</if>
            <if test="post != null">post = #{post},</if>
            <if test="teacherMemo != null">teacher_memo = #{teacherMemo},</if>
            <if test="headMemo != null">head_memo = #{headMemo},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInternshipApplyById" parameterType="Long">
        delete from internship_apply where id = #{id}
    </delete>

    <delete id="deleteInternshipApplyByIds" parameterType="String">
        delete from internship_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>