<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroxin.system.mapper.internship.InternshipSummaryMapper">
    
    <resultMap type="InternshipSummary" id="InternshipSummaryResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="workSumup"    column="work_sumup"    />
    </resultMap>

    <sql id="selectInternshipSummaryVo">
        select id, student_id, company_id, start_date, end_date, work_sumup from internship_summary
    </sql>

    <select id="selectInternshipSummaryList" parameterType="InternshipSummary" resultMap="InternshipSummaryResult">
        <include refid="selectInternshipSummaryVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="workSumup != null  and workSumup != ''"> and work_sumup = #{workSumup}</if>
        </where>
    </select>
    
    <select id="selectInternshipSummaryById" parameterType="Long" resultMap="InternshipSummaryResult">
        <include refid="selectInternshipSummaryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInternshipSummary" parameterType="InternshipSummary">
        insert into internship_summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="workSumup != null">work_sumup,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="workSumup != null">#{workSumup},</if>
         </trim>
    </insert>

    <update id="updateInternshipSummary" parameterType="InternshipSummary">
        update internship_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="workSumup != null">work_sumup = #{workSumup},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInternshipSummaryById" parameterType="Long">
        delete from internship_summary where id = #{id}
    </delete>

    <delete id="deleteInternshipSummaryByIds" parameterType="String">
        delete from internship_summary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>