<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heroxin.system.mapper.internship.InternshipGradesMapper">
    
    <resultMap type="InternshipGrades" id="InternshipGradesResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="studentId"    column="student_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="companyTeacherId"    column="company_teacher_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="cqGrages"    column="cq_grages"    />
        <result property="atGrades"    column="at_grades"    />
        <result property="logGrades"    column="log_grades"    />
        <result property="teamGrades"    column="team_grades"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectInternshipGradesVo">
        select id, code, student_id, teacher_id, company_teacher_id, company_id, cq_grages, at_grades, log_grades, team_grades, score from internship_grades
    </sql>

    <select id="selectInternshipGradesList" parameterType="InternshipGrades" resultMap="InternshipGradesResult">
        <include refid="selectInternshipGradesVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="companyTeacherId != null "> and company_teacher_id = #{companyTeacherId}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="cqGrages != null  and cqGrages != ''"> and cq_grages = #{cqGrages}</if>
            <if test="atGrades != null  and atGrades != ''"> and at_grades = #{atGrades}</if>
            <if test="logGrades != null  and logGrades != ''"> and log_grades = #{logGrades}</if>
            <if test="teamGrades != null  and teamGrades != ''"> and team_grades = #{teamGrades}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
        </where>
    </select>
    
    <select id="selectInternshipGradesById" parameterType="Long" resultMap="InternshipGradesResult">
        <include refid="selectInternshipGradesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertInternshipGrades" parameterType="InternshipGrades">
        insert into internship_grades
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="studentId != null">student_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="companyTeacherId != null">company_teacher_id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="cqGrages != null">cq_grages,</if>
            <if test="atGrades != null">at_grades,</if>
            <if test="logGrades != null">log_grades,</if>
            <if test="teamGrades != null">team_grades,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="companyTeacherId != null">#{companyTeacherId},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="cqGrages != null">#{cqGrages},</if>
            <if test="atGrades != null">#{atGrades},</if>
            <if test="logGrades != null">#{logGrades},</if>
            <if test="teamGrades != null">#{teamGrades},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updateInternshipGrades" parameterType="InternshipGrades">
        update internship_grades
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="companyTeacherId != null">company_teacher_id = #{companyTeacherId},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="cqGrages != null">cq_grages = #{cqGrages},</if>
            <if test="atGrades != null">at_grades = #{atGrades},</if>
            <if test="logGrades != null">log_grades = #{logGrades},</if>
            <if test="teamGrades != null">team_grades = #{teamGrades},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInternshipGradesById" parameterType="Long">
        delete from internship_grades where id = #{id}
    </delete>

    <delete id="deleteInternshipGradesByIds" parameterType="String">
        delete from internship_grades where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>